/* === 댓글 폼설정 === */
/* 댓글 폼 패딩 설정 */
#commentListForm{	
    padding-left: 0px;
    padding-right: 0px;
}

#commentTextForm{	
	padding-left: 0px;
    padding-right: 0px;
}

/* 댓글목록 폼 설정 */
#commentList{
    list-style: none;
}

#commentUpdate, #commentDelete, #commentLike, #commentUpdateCheck, #commentCancel{
	border-width:0px;
	background-color:white;
}

.commentProfile{
	width:35px;
	height:35px !important;
}

#updateContent{
	margin-top: 5px;
    margin-bottom: 10px;
}