/* 모든 페이지 설정 */
@import url(https://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

.navbar-brand, h1, h2, h3, h4, h5 { 
	font-family:'Jeju Gothic' 
}

body { 
	font-family:'Nanum Gothic';  	
}

/* login 로그인 설정 */
/* 로그인 폼 위치, 크기 설정 */
.container{
	height: 80%;
	align-content: center;
	margin-top: 100px;
}

.card{
	height: 400px;
	width: 450px;
	margin-top: auto;
	margin-bottom: auto;
	border-radius:0.5rem;
}

/* 타이틀 위치 설정 */
.card-header h1{
	margin-top:10px;
	text-align:center;
	color: white;
	cursor:pointer;
}

/* 입력창, 버튼 위치 설정 */
.card-body {
	margin-top:18px;
	margin-bottom: 20px;
}

/* 로그인 버튼 설정 */
.input-group-prepend span{
	width: 50px;
	background-color: #343a40;
	color: white;
	border:0 !important;
}

.login_btn{
	color: white;
	background-color: #343a40;
	font-weight:600;
	width: 100px;
}

.login_btn:hover{
	color: black;
	background-color: white;
	border: 1px solid #ced4da;
}

/* 회원가입, 비밀번호찾기 버튼 설정 */
#goJoin, #goFindPwd {
	color:white;
}

#goJoin:hover, #goFindPwd:hover {
	background-color: #343a40;
	border: 1px solid #343a40;
} 
